html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
:root {
    --main-brown: #DEAD6F;
    --gray : #41403E;
    --secondary-font: 'Montserrat', sans-serif;
}
body {
    font-family: "Chilanka", cursive;
    font-style: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}


nav .logo img {
    width: 130px;
}
nav li a {
    color: black;
}
nav .counter {
    background-color: var(--main-brown);
}

.landing {
    background-color: #F9F3EC;
    color: var(--gray);
}
.landing_text p, .discount h2{
    font-size: calc(1.2rem + 4vw);
    font-weight: 300;
    line-height: 1.2;
    text-transform: capitalize;
}
.landing_text span, nav li a:hover , .discount h2 span{
    color: var(--main-brown);
}
.landing_span {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}
swiper-container spa {
    width: 13px !important;
    height: 13px !important;
    border-radius: 50% !important;
    border: 1px solid var(--gray) !important;
    background-color: transparent;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: red;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: green;
}

.shop {
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.shop, .shop i {
    color: var(--gray);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.shop i {
    font-size: 1em;
}
.shop:hover {
    background-color: var(--gray);
    color: white;
}
.shop:hover i {
    color: white !important;
    background-color: transparent;
}
@media (min-width: 768px) {
    .menu {
        display: block !important;
    }
}
@media (min-width: 768px) {
    .menu-icon {
        display: none !important;
    }
}

.icons svg {
    height: 6em;
    color:#DEAD6F99;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.icons svg:hover {
    color: var(--main-brown);
}
.icons a {
    color: var(--gray);
    font-weight: 400;
}
.products {
    width: 100%;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.products .box {
    width: 288px;
    position: relative;
    flex-shrink: 0;
}
.products-row .main-title {
    font-size: calc(1rem + 3.3vw);
    text-transform: capitalize;
}
.products img, .foods img, .boxes .box img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.products .detail, .box .detail {
    margin: 15px;
    border: 1px solid #9f9d9d;
    border-radius: 8px;
    color: #9f9d9d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.products h3, .boxes .box h3 {
    text-transform: capitalize;
    color: var(--gray);
    margin-top: 15px;
}
.products .rate, .boxes .box .rate {
    font-size: .9em;
}
.products .rate, .products .price, .boxes .box .rate, .boxes .box .price {
    color: var(--main-brown);
}
.products .rate span, .boxes .box .rate span {
    color: #9f9d9d;
    margin-left: 5px;
}
.products .price, .boxes .box .price  {
    font-family: var(--secondary-font);
    font-size: 1.5em;
}
.shop {
    border-color: #c3c0c0;
    font-size: .9rem;
}

.discount {
    background-image: url(/images/background.png);
}
.discount h2 {
    font-size: calc(1.4rem + 2.8vw);
}

.discount_form input{
    width: 100%;
    outline: none;
    caret-color: var(--main-brown);
    letter-spacing: 0.02125rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    border: 1px solid rgba(65, 64, 62, 0.20);
}
.discount_form input:focus {
    outline: 1px solid #41403E;
}
.discount_form input[type="submit"] {
    background-color: var(--gray);
    color: white;
    text-transform: uppercase;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.discount_form input[type="submit"]:hover {
    background-color: #2b2a2a;
}

.food_menu li {
    cursor: pointer;
    letter-spacing: 0.02125rem;
    border: none;
    border-bottom: 2px solid #D9D9D8;
    background: transparent;
    text-transform: uppercase;
    font-size: 1.0625rem;
    transition: all 0.3s ease-in;
}
.food_menu li.active {
    border-color: var(--main-brown);
}

.posts img {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.posts .date {
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--main-brown);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.posts .date span {
    font-size: 1rem;
    color: var(--gray);
}
.posts p, .posts a {
    color: #908F8D;
    font-size: .9rem;
    font-weight: 400;
    line-height: normal;
    font-family: var(--secondary-font);
}
.posts a {
    font-size: .8rem;
    text-transform: uppercase;
    border-bottom: 3px solid #D9D9D8;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.posts a:hover {
    border-color: #908F8D;
}

.quotes p {
    color: #908F8D;
    font-size: 2rem;
}
.quotes svg {
    font-size: 14rem;
    color: var(--main-brown);
}


.service .icon {
    border: 1px solid #c3c0c0;
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
    margin-bottom: 15px;
    
}
.service .icon svg{
    width: 1.7rem;
    color: var(--main-brown);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.service .text h3 {
    text-transform: capitalize;
}
.service .text p {
    color: #9f9d9d;
}


.insta .col img {
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.insta .col svg {
    opacity: 0;
    color: white;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.insta .col:hover svg {
    opacity: 1;
}



.footer h3, .footer li, .footer input {
    text-transform: capitalize;
}
.footer p {
    color: #9f9d9d;
}
.footer .social div {
    border: 1px solid #CACACA;
    border-radius: 50%;
    padding: 7px;
    transition: .7s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.footer .social div:hover {
    background-color: var(--main-brown);
    border-color: transparent;
}
.footer .social svg {
    color: #CACACA;
}
.footer .social div:hover svg {
    color: white;
}
.footer ul a {
    color: #666666;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.footer ul a:hover {
    color: var(--main-brown);
}
.footer .send {
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    color: #FFF;
    border: 1px solid var(--main-brown);
    background: var(--main-brown);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.copyright {
    font-family: var(--secondary-font);
    color: #9f9d9d;
}