html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Chilanka", cursive;
    font-style: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

nav .logo img {
    width: 130px;
}

:root {
    --main-brown: #DEAD6F;
    --gray : #41403E;
}
nav li a {
    color: black;
}
.landing {
    background-color: #F9F3EC;;
}
.landing img {
    max-width: 70%;
}
.landing_text p{
    font-size: calc(1.625rem + 4vw);
    font-weight: 300;
    line-height: 1.2;
    text-transform: capitalize;
}
.landing_text span, nav li a:hover {
    color: var(--main-brown);
}
.shop {
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.shop, .shop i {
    color: var(--gray);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.shop i {
    font-size: 1em;
}
.shop:hover {
    background-color: var(--gray);
    color: white;
}
.shop:hover i {
    color: white !important;
    background-color: transparent;
}

.spans span button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid var(--gray);
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (min-width: 768px) {
    .menu {
        display: block !important;
    }
}
@media (min-width: 768px) {
    .menu-icon {
        display: none !important;
    }
}

.icons svg {
    height: 6em;
    color:#DEAD6F99;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.icons svg:hover {
    color: var(--main-brown);
}
.icons a {
    color: var(--gray);
    font-weight: 400;
}

.products-row .main-title {
    font-size: 3.5em;
}
.products img {
    max-width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.detail {
    margin: 15px;
    border: 1px solid #9f9d9d;
    border-radius: 8px;
    color: #9f9d9d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.products h3 {
    text-transform: capitalize;
    color: var(--gray);
    margin-top: 15px;
}
.products .rate {
    font-size: .9em;
}
.products .rate, .products .price {
    color: var(--main-brown);
}
.products .rate span {
    color: #9f9d9d;
    margin-left: 5px;
}
.products .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}
.products .shop {
    border-color: #c3c0c0;
}